* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

html,
body {
    height: 100%;
}


/*** Classes auxiliares ***/

.clear {
    clear: both;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* Button design */

.btn {
    width: 140px;
    padding: 5px 0;
    margin: 12px 7px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: 0.4s;
}

.btn:hover {
    width: 140px;
    padding: 5px 0;
    border: 2px solid rgb(0, 185, 185);
    border-radius: 20px;
    color: white;
    background-color: transparent;
    box-shadow: 0px 0px 5px rgb(0, 185, 185);
}

a {
    text-decoration: none;
}

.show {
    display: block;
}


/*** ***/


/*** LOADING PAGE ***/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    z-index: 1001;
    border: 3px solid transparent;
    border-top-color: #3498db;
    border-radius: 50%;
    animation: load-spin 1.5s linear infinite;
    -webkit-animation: load-spin 1.5s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    border-radius: 50%;
    animation: load-spin 2s linear infinite;
    -webkit-animation: load-spin 2s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    border-radius: 50%;
    animation: load-spin 1.5s linear infinite;
    -webkit-animation: load-spin 1.5s linear infinite;
}

@keyframes load-spin {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes load-spin {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background-color: #222222;
    z-index: 1000;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

.loaded #loader {
    opacity: 0;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transition: all 0.3s 1s ease-out;
    -webkit-transition: all 0.3s 1s ease-out;
}

.loaded #loader-wrapper .loader-section.section-left {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.no-js #loader-wrapper {
    display: none;
}


/*******/


/*** DARK MODE ***/

.darkmode {
    background-color: #ffffff;
}


/* Buttons */

.darkmode .btn {
    border: 2px solid #222222;
    color: #111111;
    background-color: transparent;
}

.darkmode .btn:hover {
    border: 2px solid rgb(255, 115, 115);
    color: rgb(50, 50, 50);
    background-color: transparent;
    box-shadow: 0px 0px 5px rgb(255, 115, 115);
}


/* Loading page */

.darkmode #loader-wrapper .loader-section {
    background-color: white;
}


/* Header / Menu */

.darkmode header {
    background-color: rgb(230, 230, 230, 0.4);
}

.darkmode header .logo h2 {
    font-weight: lighter;
    font-size: 27px;
    color: #111111;
    transition: 0.4s;
    cursor: pointer;
}

.darkmode header .logo h2:hover {
    color: rgb(255, 115, 115);
}

.darkmode header .logo span {
    color: rgb(255, 115, 115);
}


/* Menu desktop */

.darkmode nav.menu-D ul li {
    color: #111111;
}

.darkmode nav.menu-D ul li a:hover {
    color: rgb(255, 115, 115);
}

.darkmode nav.menu-D ul li.selected {
    position: relative;
    color: rgb(255, 115, 115);
}

.darkmode div.menu-icon i {
    color: #111111;
}

.darkmode div.menu-icon:hover>i {
    color: rgb(255, 115, 115);
    text-shadow: 0px 0px 10px rgb(255, 115, 115);
}


/* Menu Mobile */

.darkmode nav.menu-M ul li {
    color: #111111;
}

.darkmodenav.menu-M ul li a:hover {
    color: rgb(255, 115, 115);
}

.darkmode nav.menu-M ul li.selected {
    color: rgb(255, 115, 115);
}

.darkmode li.selected>span {
    background-color: rgb(255, 115, 115);
}

.darkmode nav.menu-btn .btn-top {
    background-color: rgb(150, 150, 150);
}

.darkmode nav.menu-btn .btn-top i {
    color: white;
}

.darkmode nav.menu-btn .btn-top:hover {
    border: 2px solid rgb(255, 115, 115);
    background-color: rgb(170, 170, 170);
    box-shadow: 0px 0px 10px rgb(255, 115, 115);
}

.darkmode nav.menu-btn .btn-top:hover>i {
    color: rgb(255, 115, 115);
}

.darkmode nav.menu-btn .btn-darkmode {
    background-color: rgb(150, 150, 150);
}

.darkmode nav.menu-btn .btn-darkmode i {
    color: white;
}

.darkmode nav.menu-btn .btn-darkmode:hover {
    border: 2px solid rgb(255, 115, 115);
    background-color: rgb(170, 170, 170);
    box-shadow: 0px 0px 10px rgb(255, 115, 115);
}

.darkmode nav.menu-btn .btn-darkmode:hover>i {
    color: rgb(255, 115, 115);
}


/* Call header */

.darkmode section.call-hd {
    background-image: url(/images/lightbg.jpg);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.darkmode .call-wrapper .call-txt h2 {
    color: #111111;
}

.darkmode .call-wrapper .call-txt h3 {
    color: #111111;
}

.darkmode .call-wrapper .call-txt h3 span {
    color: rgb(255, 115, 115);
}


/* Section difs */

.darkmode section.difs {
    background-color: rgb(240, 240, 240);
    color: #111111;
}

.darkmode section.difs .box-single {
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px rgb(80, 80, 80);
}

.darkmode section.difs .box-single .box-icon i {
    color: rgb(255, 115, 115);
}

.darkmode section.difs .box-single:hover {
    color: rgb(255, 115, 115);
    border: 3px solid rgb(255, 115, 115);
    box-shadow: 0px 0px 10px rgb(255, 115, 115);
}

.darkmode section.difs .box-single p strong {
    color: rgb(255, 115, 115);
}


/* Section knowledges */

.darkmode section.knowledges {
    color: #111111;
    background-color: rgb(240, 240, 240);
}

.darkmode section.knowledges .knowledges-single .know-all {
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

.darkmode section.knowledges .knowledges-single .know-all:hover {
    border: 3px solid rgb(255, 115, 115);
    box-shadow: 0px 0px 10px rgb(255, 115, 115);
    background-color: rgb(255, 255, 255);
    color: rgb(255, 115, 115);
}

.darkmode section.knowledges .knowledges-single .know-all:hover .know-bar {
    color: white;
    background-color: rgb(255, 115, 115);
    border: 1px solid rgb(255, 115, 115);
}

.darkmode section.knowledges .knowledges-single .know-icon .jq {
    background-image: url(../images/jqueryLight.svg);
}

.darkmode section.knowledges .knowledges-single .know-icon i {
    color: rgb(255, 115, 115);
}

.darkmode section.knowledges .knowledges-single .know-items .know-bar {
    border: 1px solid #222222;
}

.darkmode section.projects {
    color: #111111;
    background-color: rgb(240, 240, 240);
}

.darkmode section.projects .proj-txt-wp {
    background-color: white;
}

.darkmode section.projects .proj-txt-wp:hover {
    background-color: rgb(250, 250, 250);
}

.darkmode section.projects .proj-nav i:hover {
    color: rgb(255, 115, 115);
    text-shadow: 0px 0px 10px rgb(255, 115, 115);
}


/*/


/* SECTION GET_IN */

.darkmode section.get-in {
    color: #111111;
    background-color: rgb(220, 220, 220);
}

.darkmode section.get-in h2 span {
    color: rgb(255, 115, 115);
}


/*/


/* FOOTER */

.darkmode footer {
    color: #111111;
    background-color: rgb(200, 200, 200);
}


/*/


/* SOBRE.HTML */

.darkmode section.mid {
    background-color: rgb(245, 245, 245);
}

.darkmode section.mid .about .text {
    color: #222222;
}

.darkmode section.mid .about .text p span {
    color: rgb(255, 115, 115);
}

.darkmode section.mid .soc-circle {
    background-color: rgb(170, 170, 170);
}

.darkmode section.mid .social a:hover i {
    color: rgb(255, 115, 115);
}

.darkmode section.mid .social a:hover>.soc-circle {
    background-color: rgb(190, 190, 190);
    border: 2px solid rgb(255, 115, 115);
    box-shadow: 0px 0px 10px rgb(255, 115, 115);
}


/**************/


/* CONTATO.HTML */

.darkmode section.contato {
    background-color: rgb(240, 240, 240);
}

.darkmode section.contato p {
    color: #222222;
}

.darkmode section.contato p>span {
    color: rgb(255, 115, 115);
}

.darkmode section.contato .soc-circle {
    background-color: rgb(170, 170, 170);
}

.darkmode section.contato .social a:hover i {
    color: rgb(255, 115, 115);
}

.darkmode section.contato .social a:hover>.soc-circle {
    background-color: rgb(200, 200, 200);
    border: 2px solid rgb(255, 115, 115);
    box-shadow: 0px 0px 10px rgb(255, 115, 115);
}

.darkmode .form-wrapper span {
    font-size: 15px;
    color: #222222;
}

.darkmode .form-wrapper input[type="text"],
.darkmode input[type="email"],
.darkmode input[type="tel"] {
    border: 1px solid #444444;
    background-color: white;
    color: #222222;
}

.darkmode .form-wrapper input[type="text"]:focus,
.darkmode input[type="email"]:focus,
.darkmode input[type="tel"]:focus {
    background-color: rgb(230, 230, 230);
    border: 2px solid rgb(255, 115, 115);
    box-shadow: 0px 0px 5px rgb(255, 115, 115);
}

.darkmode .form-wrapper textarea {
    background-color: rgb(255, 255, 255);
    color: #222222;
    border: 1px solid #444444;
}

.darkmode .form-wrapper textarea:focus {
    border: 2px solid rgb(255, 115, 115);
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 0px 5px rgb(255, 115, 115);
}

.darkmode .form-wrapper input[type="submit"] {
    border: 2px solid rgb(60, 60, 60);
    color: #222222;
}

.darkmode .form-wrapper input[type="submit"]:hover {
    border: 2px solid rgb(255, 115, 115);
}


/*******/


/* SLIDER */

.photo-slider {
    display: none;
}

.slider {
    display: none;
}

.proj-desc {
    display: none;
}

.fade {
    animation: fade 1s;
    -moz-animation: fade 1s;
    -webkit-animation: fade 1s;
    position: relative;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}


/***/


/***** HEADER *****/

header {
    width: 100%;
    padding: 5px 2%;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.4);
    backdrop-filter: blur(19px);
    -webkit-backdrop-filter: blur(19px);
    z-index: 999;
}

header .logo {
    padding: 10px 0;
    float: left;
}

header .logo h2 {
    font-weight: lighter;
    font-size: 27px;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}

header .logo h2:hover {
    color: rgb(0, 177, 177);
}

header .logo a {
    text-decoration: none;
}

header .logo span {
    color: rgb(0, 177, 177);
}


/** Menu desktop version **/

nav.menu-D {
    float: right;
    position: relative;
    top: 17px;
}

nav.menu-D ul {
    list-style-type: none;
}

nav.menu-D ul li {
    display: inline-block;
    padding: 0 25px;
    color: white;
}

nav.menu-D ul li a {
    text-decoration: none;
    font-size: 17px;
    font-weight: lighter;
    color: inherit;
    transition: 0.4s;
}

nav.menu-D ul li a:hover {
    color: rgb(0, 177, 177);
}

nav.menu-D ul li.selected {
    position: relative;
    color: rgb(0, 177, 177);
}


/****/


/** Menu mobile version **/

div.menu-icon {
    position: absolute;
    top: -36px;
    right: 15px;
}

div.menu-icon i {
    font-size: 24px;
    color: white;
    transition: 0.4s;
}

div.menu-icon:hover>i {
    color: rgb(0, 185, 185);
    text-shadow: 0px 0px 10px rgb(0, 185, 185);
}

nav.menu-M {
    width: 100%;
    position: relative;
    display: none;
}

nav.menu-M ul {
    list-style-type: none;
    text-align: center;
    display: none;
}

nav.menu-M ul li {
    width: 100%;
    padding: 5px 0;
    color: white;
}

nav.menu-M ul li a {
    text-decoration: none;
    color: inherit;
}

nav.menu-M ul li a:hover {
    color: rgb(0, 177, 177);
}

nav.menu-M ul li.selected {
    position: relative;
    color: rgb(0, 177, 177);
}


/****/


/* Line that appears at the bottom of the selected page on menu */

li.selected>span {
    position: absolute;
    bottom: -3px;
    left: 25px;
    width: 30px;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(0, 177, 177);
    transition: 0.4s;
}


/* Button that goes all the way up */

.options {
    width: 30px;
    height: 70px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

nav.menu-btn {
    padding: 5px 0;
}


/* Menu to top buttons */

nav.menu-btn .btn-top {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid transparent;
    background-color: rgb(60, 60, 60);
    display: flex;
    transition: 0.4s;
    cursor: pointer;
}

nav.menu-btn .btn-top i {
    width: 100%;
    font-size: 18px;
    align-self: center;
    text-align: center;
    color: white;
    transition: 0.4s;
}

nav.menu-btn .btn-top:hover {
    border: 2px solid rgb(0, 185, 185);
    background-color: rgb(80, 80, 80);
    box-shadow: 0px 0px 10px rgb(0, 185, 185);
}

nav.menu-btn .btn-top:hover>i {
    color: rgb(0, 185, 185);
    animation: spin 0.4s 1;
    -moz-animation: spin 0.4s 1;
    -webkit-animation: spin 0.4s 1;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}


/* Toggle darkmode buttons */

nav.menu-btn .btn-darkmode {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid transparent;
    background-color: rgb(60, 60, 60);
    display: flex;
    transition: 0.4s;
    cursor: pointer;
}

nav.menu-btn .btn-darkmode i {
    width: 100%;
    font-size: 18px;
    align-self: center;
    text-align: center;
    color: white;
    transition: 0.4s;
}

nav.menu-btn .btn-darkmode:hover {
    border: 2px solid rgb(0, 185, 185);
    background-color: rgb(80, 80, 80);
    box-shadow: 0px 0px 10px rgb(0, 185, 185);
}

nav.menu-btn .btn-darkmode:hover>i {
    color: rgb(0, 185, 185);
    animation: spin 0.4s 1;
    -moz-animation: spin 0.4s 1;
    -webkit-animation: spin 0.4s 1;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}


/**********/


/***** CALL HEADER *****/

section.call-hd .container {
    max-width: 1100px;
    padding: 0 2%;
}

section.call-hd {
    width: 100%;
    height: 698px;
    background-image: url(/images/background.png);
    background-size: cover;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.call-wrapper {
    width: 100%;
    padding: 20px 0;
    position: relative;
    top: 260px;
}

.call-wrapper .call-txt {
    width: 480px;
    text-align: center;
}

.call-wrapper .call-txt h2 {
    font-size: 58px;
    font-weight: lighter;
    float: left;
    color: white;
}

.call-wrapper .call-txt h3 {
    font-size: 23px;
    font-weight: lighter;
    float: right;
    color: white;
}

.call-wrapper .call-txt h3 span {
    color: rgb(0, 185, 185);
}


/**********/


/***** SECTION DIFS *****/

section.difs {
    padding-bottom: 50px;
    color: white;
    background-color: #111111;
}

section.difs .container>h2 {
    font-size: 29px;
    text-align: center;
    padding: 45px 0;
}

section.difs .box-single-wrapper {
    width: 100%;
    text-align: center;
    padding: 0 3% 20px 3%;
    display: flex;
}

section.difs .box-single {
    width: 100%;
    padding: 30px 0;
    border: 3px solid rgb(25, 25, 25);
    border-radius: 10px;
    background-color: rgb(25, 25, 25);
    transition: 0.4s;
}

section.difs .box-single:nth-of-type(2) {
    margin: 0 50px;
}

section.difs .box-single .box-icon i {
    font-size: 67px;
    color: rgb(0, 185, 185);
}

section.difs .box-single h2 {
    padding: 20px 0px 15px 0;
}

section.difs .box-single p {
    padding: 0 20px;
}

section.difs .box-single p strong {
    color: rgb(0, 185, 185);
}

section.difs .box-single:hover {
    color: rgb(0, 185, 185);
    border: 3px solid rgb(0, 185, 185);
    box-shadow: 0px 0px 10px #00b9b9;
}


/**********/


/***** SECTION KNOWLEDGES *****/

section.knowledges {
    text-align: center;
    color: white;
    background-color: #1e1e1e;
    padding: 0px 0px 50px 0;
}

section.knowledges .container>h2 {
    padding: 50px 0 25px 0;
}

section.knowledges .knowledges-wrapper {
    display: flex;
    flex-wrap: wrap;
}

section.knowledges .knowledges-single {
    width: 33.3%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

section.knowledges .knowledges-single .know-all {
    padding: 10px 15px;
    display: flex;
    border-radius: 15px;
    border: 3px solid rgb(50, 50, 50);
    background-color: rgb(50, 50, 50);
    transition: 0.4s;
}

section.knowledges .knowledges-single .know-all:hover {
    border: 3px solid rgb(0, 185, 185);
    box-shadow: 0px 0px 10px rgb(0, 185, 185);
    background-color: rgb(25, 25, 25);
    color: rgb(0, 185, 185);
}

section.knowledges .knowledges-single .know-all:hover .know-bar {
    color: white;
    background-color: rgb(0, 185, 185);
    border: 1px solid rgb(0, 185, 185);
}

section.knowledges .knowledges-single .know-icon .jq {
    background-image: url(../images/jquery.svg);
    width: 50px;
    height: 50px;
}

section.knowledges .knowledges-single .know-icon i {
    font-size: 60px;
    color: rgb(0, 185, 185);
}

section.knowledges .knowledges-single .know-items {
    padding: 0 10px;
    align-self: center;
}

section.knowledges .knowledges-single .know-items .know-title {
    padding: 5px 0;
    font-size: 16px;
}

section.knowledges .knowledges-single .know-items .know-bar {
    width: 130px;
    border-radius: 20px;
    border: 1px solid white;
    transition: 0.4s;
}

section.knowledges .knowledges-single .know-items .know-bar p {
    padding: 0 10px;
}


/**********/


/***** SECTION PROJECTS *****/

section.projects {
    color: white;
    background-color: #111111;
    padding: 0px 0px 60px 0;
}

section.projects .container {
    padding: 0 2%;
}

section.projects .container>h2 {
    padding: 50px 0;
    text-align: center;
}

section.projects .proj-wrapper {
    width: 100%;
    display: flex;
}

section.projects .proj-img {
    width: 50%;
    height: 400px;
    background-image: url(../images/projeto01.png);
    background-size: cover;
    border-radius: 20px 0 0 20px;
    filter: blur(1px);
    filter: grayscale(50%);
    transition: 0.4s;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.603);
}

section.projects .proj-img:hover {
    width: 80%;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.903);
    filter: blur(0px);
    filter: grayscale(0%);
}

section.projects .proj-txt-wp {
    width: 50%;
    height: 400px;
    display: flex;
    background-color: rgb(50, 50, 50);
    border-radius: 0 20px 20px 0;
    transition: 0.4s;
}

section.projects .proj-txt-wp:hover {
    width: 80%;
    background-color: rgb(60, 60, 60);
}

section.projects .proj-txt {
    padding: 0 20px;
    text-align: right;
    align-self: center;
}

section.projects .proj-txt p {
    padding: 20px 0;
}

section.projects .proj-nav {
    position: relative;
    top: 20px;
}

section.projects .proj-nav i {
    font-size: 35px;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.4s;
}

section.projects .proj-nav i:hover {
    font-size: 38px;
    color: rgb(0, 185, 185);
    text-shadow: 0px 0px 10px rgb(0, 185, 185);
}


/**********/


/***** SECTION GET_IN *****/

section.get-in {
    padding: 40px 0;
    text-align: center;
    color: white;
    background-color: #1e1e1e;
}

section.get-in h2 span {
    color: rgb(0, 185, 185);
}


/**********/


/***** FOOTER *****/

footer {
    width: 100%;
    color: white;
    background-color: #010101;
    padding: 15px 0;
    text-align: center;
}

footer h2 {
    font-size: 15px;
    font-weight: lighter;
}


/**********/


/********** SOBRE.HTML **********/

section.mid {
    width: 100%;
    padding: 75px 0 50px 0;
    background-color: #1e1e1e;
}

section.mid .about {
    width: 100%;
    display: flex;
    padding: 50px 0;
}

section.mid .about .photo-wrapper {
    width: 40%;
    height: 500px;
    display: flex;
    justify-content: center;
}

section.mid .about .photo-wrapper .photo-slider {
    width: 350px;
    height: 500px;
    background-image: url(../images/naneun01.jpg);
    background-size: cover;
    filter: saturate(150%);
    border-radius: 20px;
}

section.mid .about .text {
    width: 60%;
    font-weight: lighter;
    display: inline-block;
    color: white;
    align-self: center;
}

section.mid .about .text p {
    font-size: 20px;
}

section.mid .about .text p span {
    color: rgb(0, 185, 185);
}

section.mid .social {
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 20px;
}

section.mid .soc-circle {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 50, 50);
    transition: 0.4s;
}

section.mid .soc-circle i {
    font-size: 24px;
    color: white;
    transition: 0.4s;
}

section.mid .social a {
    text-decoration: none;
    margin: 0 15px;
}

section.mid .social a:hover i {
    color: rgb(0, 185, 185);
}

section.mid .social a:hover>.soc-circle {
    background-color: rgb(80, 80, 80);
    border: 2px solid rgb(0, 185, 185);
    box-shadow: 0px 0px 10px rgb(0, 185, 185);
}


/********************************/


/********** CONTATO.HTML **********/

section.contato {
    padding: 50px 2%;
    min-height: 650px;
    background-color: #1e1e1e;
}

section.contato .contact-wrapper {
    width: 100%;
    padding: 50px 0 0 0;
}

section.contato p {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: lighter;
    padding: 5px 0;
}

section.contato p>span {
    color: rgb(0, 185, 185);
}

section.contato .social {
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 20px;
}

section.contato .soc-circle {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 50, 50);
    transition: 0.4s;
}

section.contato .soc-circle i {
    font-size: 24px;
    color: white;
    transition: 0.4s;
}

section.contato .social a {
    text-decoration: none;
    margin: 0 15px;
}

section.contato .social a:hover i {
    color: rgb(0, 185, 185);
}

section.contato .social a:hover>.soc-circle {
    background-color: rgb(80, 80, 80);
    border: 2px solid rgb(0, 185, 185);
    box-shadow: 0px 0px 10px rgb(0, 185, 185);
}

section.contato form {
    width: 100%;
    max-width: 500px;
    margin: 30px auto;
}

.form-wrapper {
    float: left;
    margin-top: 10px;
    padding: 0 10px;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

.form-wrapper span {
    font-size: 15px;
    color: white;
}

.form-wrapper input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    height: 35px;
    margin-top: 8px;
    line-height: 35px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #dadada;
    font-size: 17px;
    outline: none;
    border: 2px solid transparent;
    transition: 0.4s;
    background-color: rgb(170, 170, 170);
    color: white;
}

.form-wrapper input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    background-color: rgb(80, 80, 80);
    border: 2px solid rgb(0, 185, 185);
    box-shadow: 0px 0px 5px rgb(0, 185, 185);
}

.form-wrapper textarea {
    width: 100%;
    height: 120px;
    padding: 15px;
    margin-top: 8px;
    resize: none;
    border-radius: 10px;
    padding-left: 10px;
    border: 2px solid transparent;
    font-size: 17px;
    background-color: rgb(170, 170, 170);
    outline: none;
    transition: 0.4s;
    color: white;
}

.form-wrapper textarea:focus {
    border: 2px solid rgb(0, 185, 185);
    background-color: rgb(80, 80, 80);
    box-shadow: 0px 0px 5px rgb(0, 185, 185);
}

.form-wrapper input[type="submit"] {
    width: 100px;
    height: 35px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    display: inline-block;
}

.form-wrapper input[type="submit"]:hover {
    border: 2px solid rgb(0, 185, 185);
}


/********************************/


/******** MEDIA QUERIES ********/

@media screen and (max-width: 912px) {
    section.mid .about {
        width: 100%;
        display: inline-block;
        padding: 50px 2%;
    }
    section.mid .about .photo-wrapper {
        width: 100%;
    }
    section.mid .about .text {
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    nav.menu-D {
        display: none;
    }
    nav.menu-M {
        display: block;
    }
    .call-wrapper .call-txt {
        width: 100%;
    }
    .call-wrapper .call-txt h2 {
        float: none;
    }
    .call-wrapper .call-txt h3 {
        float: none;
    }
    section.difs .box-single-wrapper {
        display: block;
    }
    section.difs .box-single {
        width: 100%;
        padding: 30px 2%;
        margin: 20px 0;
    }
    section.difs .box-single:nth-of-type(2) {
        margin: 0;
    }
    section.knowledges .knowledges-single {
        width: 50%;
    }
    section.projects .proj-wrapper {
        display: block;
    }
    section.projects .proj-img {
        width: 100%;
        border-radius: 20px 20px 0 0;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.603);
    }
    section.projects .proj-img:hover {
        width: 100%;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.903);
    }
    section.projects .proj-txt-wp {
        width: 100%;
        background-color: rgb(50, 50, 50);
        border-radius: 0 0 20px 20px;
        transition: 0.4s;
    }
    section.projects .proj-txt-wp:hover {
        width: 100%;
        background-color: rgb(60, 60, 60);
    }
    .w50 {
        width: 100%;
    }
}

@media screen and (max-width: 553px) {
    section.knowledges .knowledges-single {
        width: 100%;
    }
}


/****************/

@media screen and (max-width: 553px) {
    section.knowledges .knowledges-single {
        width: 100%;
    }
}


/****************/

@media screen and (max-width: 553px) {
    section.knowledges .knowledges-single {
        width: 100%;
    }
}


/****************/

@media screen and (max-width: 553px) {
    section.knowledges .knowledges-single {
        width: 100%;
    }
}


/****************/