* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

html,
body {
    height: 100%;
}


/*** Classes auxiliares ***/

.clear {
    clear: both;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    width: 140px;
    padding: 5px 0;
    margin: 12px 7px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: 0.4s;
}

.btn:hover {
    width: 140px;
    padding: 5px 0;
    border: 2px solid rgb(0, 185, 185);
    border-radius: 20px;
    color: white;
    background-color: transparent;
    box-shadow: 0px 0px 5px rgb(0, 185, 185);
}


/*** ***/


/***** HEADER *****/

header {
    width: 100%;
    padding: 5px 2%;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.4);
    backdrop-filter: blur(19px);
    -webkit-backdrop-filter: blur(19px);
    z-index: 999;
}

header .logo {
    padding: 10px 0;
    float: left;
}

header .logo h2 {
    font-weight: lighter;
    font-size: 27px;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}

header .logo h2:hover {
    color: rgb(0, 177, 177);
}

header .logo span {
    color: rgb(0, 177, 177);
}


/** Menu desktop version **/

nav.menu-D {
    float: right;
    position: relative;
    top: 17px;
}

nav.menu-D ul {
    list-style-type: none;
}

nav.menu-D ul li {
    display: inline-block;
    padding: 0 25px;
    color: white;
}

nav.menu-D ul li a {
    text-decoration: none;
    font-size: 17px;
    font-weight: lighter;
    color: inherit;
    transition: 0.4s;
}

nav.menu-D ul li a:hover {
    color: rgb(0, 177, 177);
}

nav.menu-D ul li.selected {
    position: relative;
    color: rgb(0, 177, 177);
}


/****/


/** Menu mobile version **/

div.menu-icon {
    position: absolute;
    top: -36px;
    right: 15px;
}

div.menu-icon i {
    font-size: 24px;
    color: white;
}

nav.menu-M {
    width: 100%;
    position: relative;
    display: none;
}

nav.menu-M ul {
    list-style-type: none;
    text-align: center;
    display: none;
}

nav.menu-M ul li {
    width: 100%;
    padding: 5px 0;
    color: white;
}

nav.menu-M ul li a {
    text-decoration: none;
    color: inherit;
}

nav.menu-M ul li a:hover {
    color: rgb(0, 177, 177);
}

nav.menu-M ul li.selected {
    position: relative;
    color: rgb(0, 177, 177);
}


/****/

li.selected>span {
    position: absolute;
    bottom: -3px;
    left: 25px;
    width: 30px;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(0, 177, 177);
    transition: 0.4s;
}

nav.menu-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

nav.menu-btn .btn-top {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid transparent;
    background-color: rgb(60, 60, 60);
    display: flex;
    transition: 0.4s;
    cursor: pointer;
}

nav.menu-btn .btn-top i {
    width: 100%;
    font-size: 18px;
    align-self: center;
    text-align: center;
    color: white;
    transition: 0.4s;
}

nav.menu-btn .btn-top:hover {
    border: 2px solid rgb(0, 185, 185);
    background-color: rgb(80, 80, 80);
    box-shadow: 0px 0px 10px rgb(0, 185, 185);
}

nav.menu-btn .btn-top:hover>i {
    color: rgb(0, 185, 185);
}


/**********/


/***** CALL HEADER *****/

section.call-hd .container {
    max-width: 1100px;
    padding: 0 2%;
}

section.call-hd {
    width: 100%;
    height: 698px;
    background-image: url(/images/background.png);
    background-size: cover;
}

.call-wrapper {
    width: 100%;
    padding: 20px 0;
    position: relative;
    top: 260px;
}

.call-wrapper .call-txt {
    width: 480px;
    text-align: center;
}

.call-wrapper .call-txt h2 {
    font-size: 58px;
    font-weight: lighter;
    float: left;
    color: white;
}

.call-wrapper .call-txt h3 {
    font-size: 23px;
    font-weight: lighter;
    float: right;
    color: white;
}


/**********/


/***** SECTION DIFS *****/

section.difs {
    padding-bottom: 50px;
    color: white;
    background-color: #111111;
}

section.difs .container>h2 {
    font-size: 29px;
    text-align: center;
    padding: 45px 0;
}

section.difs .box-single-wrapper {
    width: 100%;
    text-align: center;
    padding: 0 3% 20px 3%;
    display: flex;
}

section.difs .box-single {
    width: 100%;
    padding: 30px 0;
    border: 3px solid rgb(25, 25, 25);
    border-radius: 10px;
    background-color: rgb(25, 25, 25);
    transition: 0.4s;
}

section.difs .box-single:nth-of-type(2) {
    margin: 0 50px;
}

section.difs .box-single .box-icon i {
    font-size: 67px;
    color: rgb(0, 185, 185);
}

section.difs .box-single h2 {
    padding: 20px 0px 15px 0;
}

section.difs .box-single p {
    padding: 0 20px;
}

section.difs .box-single:hover {
    color: rgb(0, 185, 185);
    border: 3px solid rgb(0, 185, 185);
    box-shadow: 0px 0px 10px #00b9b9;
}


/**********/


/***** SECTION KNOWLEDGES *****/

section.knowledges {
    text-align: center;
    color: white;
    background-color: #1e1e1e;
    padding: 0px 0px 50px 0;
}

section.knowledges .container>h2 {
    padding: 50px 0 25px 0;
}

section.knowledges .knowledges-wrapper {
    display: flex;
    flex-wrap: wrap;
}

section.knowledges .knowledges-single {
    width: 33.3%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

section.knowledges .knowledges-single .know-all {
    padding: 10px 15px;
    display: flex;
    border-radius: 15px;
    border: 3px solid rgb(50, 50, 50);
    background-color: rgb(50, 50, 50);
    transition: 0.4s;
}

section.knowledges .knowledges-single .know-all:hover {
    border: 3px solid rgb(0, 185, 185);
    box-shadow: 0px 0px 10px rgb(0, 185, 185);
    background-color: rgb(25, 25, 25);
    color: rgb(0, 185, 185);
}

section.knowledges .knowledges-single .know-all:hover .know-bar {
    color: white;
    background-color: rgb(0, 185, 185);
    border: 1px solid rgb(0, 185, 185);
}

section.knowledges .knowledges-single .know-icon i {
    font-size: 60px;
    color: rgb(0, 185, 185);
}

section.knowledges .knowledges-single .know-items {
    padding: 0 10px;
    align-self: center;
}

section.knowledges .knowledges-single .know-items .know-title {
    padding: 5px 0;
    font-size: 16px;
}

section.knowledges .knowledges-single .know-items .know-bar {
    width: 130px;
    border-radius: 20px;
    border: 1px solid white;
    transition: 0.4s;
}

section.knowledges .knowledges-single .know-items .know-bar p {
    padding: 0 10px;
}


/**********/


/***** SECTION PROJECTS *****/

section.projects {
    color: white;
    background-color: #111111;
    padding: 0px 0px 60px 0;
}

section.projects .container {
    padding: 0 2%;
}

section.projects .container>h2 {
    padding: 50px 0;
    text-align: center;
}

section.projects .proj-wrapper {
    width: 100%;
    display: flex;
}

section.projects .proj-img {
    width: 50%;
    height: 400px;
    background-image: url(../images/projeto01.png);
    background-size: cover;
    border-radius: 20px 0 0 20px;
    filter: blur(1px);
    filter: grayscale(50%);
    transition: 0.4s;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.603);
}

section.projects .proj-img:hover {
    width: 80%;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.903);
    filter: blur(0px);
    filter: grayscale(0%);
}

section.projects .proj-txt-wp {
    width: 50%;
    height: 400px;
    display: flex;
    background-color: rgb(50, 50, 50);
    border-radius: 0 20px 20px 0;
    transition: 0.4s;
}

section.projects .proj-txt-wp:hover {
    width: 80%;
    background-color: rgb(60, 60, 60);
}

section.projects .proj-txt {
    padding: 0 20px;
    text-align: right;
    align-self: center;
}

section.projects .proj-txt p {
    padding: 20px 0;
}

section.projects .proj-nav {
    position: relative;
    top: 20px;
}

section.projects .proj-nav i {
    font-size: 35px;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.4s;
}

section.projects .proj-nav i:hover {
    font-size: 38px;
    color: rgb(0, 185, 185);
    text-shadow: 0px 0px 10px rgb(0, 185, 185);
}


/**********/


/***** SECTION GET_IN *****/

section.get-in {
    padding: 40px 0;
    text-align: center;
    color: white;
    background-color: #1e1e1e;
}


/**********/


/***** FOOTER *****/

footer {
    width: 100%;
    color: white;
    background-color: #010101;
    padding: 15px 0;
    text-align: center;
}

footer h2 {
    font-size: 15px;
    font-weight: lighter;
}


/**********/


/******** MEDIA QUERIES ********/

@media screen and (max-width: 768px) {
    nav.menu-D {
        display: none;
    }
    nav.menu-M {
        display: block;
    }
    .call-wrapper .call-txt {
        width: 100%;
    }
    .call-wrapper .call-txt h2 {
        float: none;
    }
    .call-wrapper .call-txt h3 {
        float: none;
    }
    section.difs .box-single-wrapper {
        display: block;
    }
    section.difs .box-single {
        width: 100%;
        padding: 30px 2%;
        margin: 20px 0;
    }
    section.difs .box-single:nth-of-type(2) {
        margin: 0;
    }
    section.knowledges .knowledges-single {
        width: 50%;
    }
    section.projects .proj-wrapper {
        display: block;
    }
    section.projects .proj-img {
        width: 100%;
        border-radius: 20px 20px 0 0;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.603);
    }
    section.projects .proj-img:hover {
        width: 100%;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.903);
    }
    section.projects .proj-txt-wp {
        width: 100%;
        background-color: rgb(50, 50, 50);
        border-radius: 0 0 20px 20px;
        transition: 0.4s;
    }
    section.projects .proj-txt-wp:hover {
        width: 100%;
        background-color: rgb(60, 60, 60);
    }
}

@media screen and (max-width: 553px) {
    section.knowledges .knowledges-single {
        width: 100%;
    }
}


/****************/